.dot{
    display:inline-block;
    width:10px;
    height: 10px;
    border-radius: 10px;
}
.dot.LOW{
    background-color: red;
}
.dot.MEDIUM{
    background-color: yellow;
}
.dot.GOOD{
    background-color: lightgreen;
}
.past{
    opacity: 25%;
}
.hide{
    display: none;
}
.price{
    font-size: 50%;
}
.seat{
    display:inline-block;
    position: absolute;
    width:6px;
    height: 6px;
    border-radius: 10px;
    background-color: #DDDDDD;
}
.seat.available{
    background-color: #c680ff;
}
.seat.Z26B3B1C1-9DF2-404D-B1B4-7F2CAE103B73.available{
    background-color: red;
}
.seat.available.Z12B44C00-FEA3-4B1C-A903-183B4BF65BF6{
    background-color: yellow;

}
.box{
    width:100px;
    height:100px;
    border:solid thin black;
    border-radius: 10px;
}
.Evening{
   
}
.Matinee{

}